.product-image {
    float: left;
    width: 20%;
}

.product-details {
    float: left;
    width: 37%;
}

.product-price {
    float: left;
    width: 12%;
}

.product-quantity {
    float: left;
    width: 10%;
}

.product-removal {
    float: left;
    width: 9%;
}

.product-line-price {
    float: left;
    width: 12%;
    text-align: right;
}


/* Apply clearfix in a few places */


/* Apply dollar signs */


/* Body/Header stuff */

body {
    padding: 0px 30px 30px 20px;
    font-weight: 100;
}

h1 {
    font-weight: 100;
}

.h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 700px;
}

label {
    color: rgb(21, 26, 26);
}

.shopping-cart {
    margin-top: -45px;
}

.column-labels label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(21, 26, 26);
}

.column-labels {
    height: 71px;
}

.column-labels .product-image,
.product-details,
.product-removal {
    text-indent: 0;
}


/* Product entries */

.product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    min-height: 180px;
    border-bottom: 1px solid rgb(21, 26, 26);
}

.product .product-image {
    text-align: center;
}

.product .product-image img {
    width: 100px;
}

.product.product-details .product-title {
    margin-right: 20px;
}

.product.product-details .product .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
    font-size: 20px;
}

.product .product-quantity input {
    width: 45px;
    font-size: 20px;
}

.product .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: rgb(223, 130, 130);
    color: rgb(0, 0, 0);
    font-size: 12px;
    border-radius: 3px;
}

.product.remove-product:hover {
    background-color: rgb(173, 51, 51);
}


/* Totals section */

.totals {
    height: 85px;
}

.totals .totals .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
}

.totals .totals-item label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right;
}

.totals .totals-item .totals-value {
    float: right;
    width: 21%;
    text-align: right;
}

.checkout {
    float: right;
    border: 0;
    margin-top: 30px;
    padding: 6px 25px;
    background-color: rgb(90, 187, 204);
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
}

.checkout:hover {
    background-color: rgb(50, 167, 167);
}


/* .totals.totals-item-total {
    font-family: $font-bold;
  } */


/* Make adjustments for tablet */

.shopping-cart {
    background-color: rgb(163, 247, 247);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
    border-bottom: 1px solid rgb(21, 26, 26);
    margin: 50px auto 100px auto;
}

@media screen and (max-width: 650px) {
    .shopping-cart {
        margin: 0;
        padding-top: 20px;
        border-top: 1px solid rgb(21, 26, 26);
    }
    .column-labels {
        display: none;
    }
    .product-image {
        float: right;
        width: auto;
    }
    .product-image img {
        margin: 0 0 10px 10px;
    }
    .product-details {
        float: none;
        margin-bottom: 10px;
        width: auto;
    }
    .product-price {
        clear: both;
        width: 70px;
    }
    .product-quantity {
        width: 100px;
    }
    .product-quantity input {
        margin-left: 20px;
    }
    .product-quantity:before {
        content: 'x';
    }
    .product-removal {
        width: auto;
    }
    .product-line-price {
        float: right;
        width: 70px;
    }
}


/* Make more adjustments for phone */

@media screen and (width: 350px) {
    .product-removal {
        float: right;
    }
    .product-line-price {
        float: right;
        clear: left;
        width: auto;
        margin-top: 10px;
    }
    .product .product-line-price:before {
        content: 'Item Total: $';
    }
    .totals .totals-item label {
        width: 60%;
    }
    .totals .totals-item .totals-value {
        width: 40%;
    }
}